{% extends "base.html" %}

{% block title %}Add Account{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">Add New Account</h1>
<form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {{ form.hidden_tag() }}
    <div class="mb-4">
        {{ form.account_name.label(class="block text-gray-700 text-sm font-bold mb-2") }}
        {{ form.account_name(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
    </div>
    <div class="mb-6">
        {{ form.initial_balance.label(class="block text-gray-700 text-sm font-bold mb-2") }}
        {{ form.initial_balance(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline") }}
    </div>
    <div class="flex items-center justify-between">
        {{ form.submit(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") }}
        <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{{ url_for('accounts.list_accounts') }}">
            Cancel
        </a>
    </div>
</form>
{% endblock %}