<div>
    <h1>Budget Management</h1>
</div>

<main role="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="section messages">
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div id="add-budget" class="section">
        <h2>Add New Budget</h2>
        <form id="addBudgetForm" method="POST" action="{{ url_for('budgets.budget_management') }}">
            {{ add_form.hidden_tag() }}
            <div>
                {{ add_form.budget_name.label }}
                {{ add_form.budget_name() }}
            </div>
            <div>
                {{ add_form.initial_amount.label }}
                {{ add_form.initial_amount() }}
            </div>
            <input type="submit" name="add_budget" value="Add Budget">
        </form>
    </div>

    <div id="view-budgets" class="section">
        <h2>Your Budgets</h2>
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Amount Used</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for budget in budgets %}
                    <tr>
                        <td>{{ budget.category_name }}</td>
                        <td>{{ budget.amount }}</td>
                        <td>{{ budget.amount_used }}</td>
                        <td>
                            <form class="updateBudgetForm" method="POST" action="{{ url_for('budgets.budget_management') }}">
                                {{ update_form.hidden_tag() }}
                                <input type="hidden" name="category_name" value="{{ budget.category_name }}">
                                <input type="number" name="new_amount" value="{{ budget.amount }}">
                                <input type="submit" name="update_budget" value="Update">
                            </form>
                            <form class="deleteBudgetForm" method="POST" action="{{ url_for('budgets.delete_budget') }}">
                                {{ add_form.hidden_tag() }}
                                <input type="hidden" name="category_name" value="{{ budget.category_name }}">
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<footer>
    <p>&copy; 2024 Budget Management App</p>
</footer>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>